<h1 class="prod_home">Login</h1>

<div class="col-xs-4 col-md-4 col-md-offset-4 col-xs-offset-4">
    <%= form_tag '/login' do %>
    <div>
      <%= label_tag :email,nil,:autofocus => true,:class=>"email_label" %>
      <%= text_field_tag :email%>
    </div>

    <%= label_tag :password %>
    <%= password_field_tag :password  %>
    <%= submit_tag 'Login',:class=>  'col-xs-offset-6'%>
    <% end %>
</div>
