<h1>Orders details</h1>
<table>
  <tr>
    <td>Order Number</td>
    <td><%= @order.id %></td>
  </tr>
  <tr>
    <td>Order Status</td>
    <td><%= @order.status %></td>
  </tr>
  <tr>
    <td>Category</td>
    <td><%= @order.category %></td>
  </tr>
  <tr>
    <td>Model Number</td>
    <td><%= @order.model %></td>
  </tr>
  <tr>
    <td>Quantity</td>
    <td><%= @order.quantity %></td>
  </tr>
  <tr>
    <td>Color</td>
    <td><%= @order.color %></td>
  </tr>
  <tr>
    <td>Brand</td>
    <td><%= @order.brand %></td>
  </tr>
  <tr>
    <td>Mode of Payment</td>
    <td><%= @order.payment_method %></td>
  </tr>
</table>
<%= link_to 'Edit Order' , edit_order_path(@order.id) %>
<%= link_to 'Delete Order', @order , :method => 'delete' %>
