<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');

  Stripe.card.createToken({
    number: $('.card-number').val(),
    cvc: $('.card-cvc').val(),
    exp_month: $('.card-expiry-month').val(),
    exp_year: $('.card-expiry-year').val()
  }, stripeResponseHandler);
</script>
<div class="prod_home   col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
  <h1>Order Number: <%= @order.id %></h1>
  <% if @order.errors %>
    <%@order.errors.full_messages.each do |error| %>
    <li>
        <%= error %>
    </li>
    <% end %>
  <% end %>
  <div>
      <p class="product_details">
          <%= "Status:  #{ @order.status }" %>
      </p>
      <p class="product_details">
          <%= "Mode of Payment: #{ @order.payment_method}" if @order.payment_method.present? %>
      </p>
      <p class="product_details">
        <%= "Last updated at: #{ @order.updated_at.strftime ' %B %e, %Y' }" %>
      </p>
      <p class="product_details">
          Total
          <b><%= pluralize(@line_items.count,'item') %></b>
          in this order</p>
  </div>
  <div class="product_details">
      <% if @line_items.count.eql?0 %>
        <%= link_to 'View Products' , products_path %>
        </div>
      <% else %>
        <div class="panel panel-default">
            <div class="panel-heading">Order Details</div>
            <table class="table">
                <tr>
                    <td>S. No</td>
                    <td>Details</td>
                    <td>Quantity</td>
                    <td>Price per Unit</td>
                    <td>Sub Total</td>
                </tr>
                <% i = 1 %>
                <% @line_items.each do |line_item| %>

                <tr>
                    <td><%= link_to i,line_item %></td>
                    <td><%= line_item.product.model_num %></td>
                    <td><%= line_item.quantity  %></td>
                    <td>
                      <%= line_item.product.money_in(@current_user.currency).format %>
                    </td>
                    <td>
                      <%= line_item.sub_total_in(@current_user.currency).format %>
                    </td>
                    <% if @order.status.eql?'new' %>
                      <td>
                        <%= link_to 'Delete' , line_item_path(line_item), :method=> 'delete',:data => {:confirm => "Are you sure"}%>
                      </td>
                    <% end %>
                </tr>
                <% i= i+1 %>
                <% end %>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td><%= @order.total_in(@current_user.currency).format %></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div>
            <div class=" col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
                <% if ((@current_user.present?) && (@current_user.admin?)) %>
                <%= link_to 'User Details' , @order.user %>
            <% else %>
                <%= link_to 'My Details' , @order.user %>
                <% end %>
            </div>
        </div>
        <% if ((@order.status.eql?'new') && (@current_user.present?) && (@current_user.admin.eql?false))  %>
          <div class="mode_of_payment">
              <form action="/charge" method="POST" class="order_details">
                  <script
                      src="https://checkout.stripe.com/checkout.js"
                      class="stripe-button"
                      data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                      data-amount="<%= (@order.total_price)*100  %>"
                      data-name="Hello <%= @order.user.first_name %>"
                      data-description="Pay Now"
                      data-image="<%= @current_user.image %>"
                      data-locale="auto">
                  </script>
              </form>
          </div>
          <div class="row">
              <div class="col-xs-offset-3 col-xs-6 col-md-4 col-md-offset-4">
                  <%= button_to 'Confirm' ,order_status_path(:status=>'placed')  %>
              </div>
          </div>
        <% end %>
        <% if ((@current_user.present?) && (@current_user.admin?)) %>
          <div class="row  col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
              <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 actions">
                  <%= button_to 'Approve', order_status_path(:status=>'approved') , :class=> 'buttons col-md-6 col-xs-6'%>
                  <%= button_to 'Reject', order_status_path(:status=>'cancelled'), :class=> 'buttons col-md-6 col-xs-6'%>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
