<div class="col-xs-offset-4">
    <%= form_for @product,:html => {:multipart => true}  do |f| %>
    <fieldset>
        <%= f.label :brand%>
        <%= f.text_field :brand %>
    </fieldset>
    <fieldset>
        <%= f.label :category%>
        <%= f.text_field :category %>
    </fieldset>
    <fieldset>
        <%= f.label :model_number%>
        <%= f.text_field :model_num %>
    </fieldset>
    <fieldset>
        <%= f.label :"Price(in #{(@current_user.currency).upcase})"%>
        <%= f.text_field :price_cents %>
    </fieldset>
    <fieldset>
        <%= f.label :number_of_pieces%>
        <%= f.text_field :num_of_pieces %>
    </fieldset>
    <fieldset>
        <%= f.label :color%>
        <%= f.text_field :color %>
    </fieldset>
    <fieldset>
        <%= f.label :manufactured_date%>
        <%= f.text_field :mfg_date, type: :date%>
    </fieldset>
    <fieldset>
        <%= f.label :image %>
        <%= cl_image_upload_tag :image %>
    </fieldset>
    <%= f.submit :class=> 'col-xs-offset-3'%>
    <% end %>
</div>
