<h1>Product Details</h1>

<table>
  <tr>
    <%= image_tag @product.image ,:class => 'profile_image'%>
  </tr>
  <tr>
    <td>Name </td>
    <td> <%= @product.model_num %></td>
  </tr>
  <tr>
    <td>Price </td>
    <td> <%= number_to_currency(@product.price) %></td>
  </tr>
  <tr>
    <td>Manufactured date </td>
    <td>
      <%= @product.mfg_date.strftime ' %B %e, %Y' %>
    </td>
  </tr>
  <tr>
    <td> Number of pieces</td>
    <td> <%= @product.num_of_pieces %></td>
  </tr>
  <tr>
    <td> Brand</td>
    <td> <%= @product.brand %></td>
  </tr>
  <tr>
    <td>Color</td>
    <td> <%= @product.color %></td>
  </tr>
</table>
<%= link_to 'Edit Product' , edit_product_path if @current_user.admin?%>
<%= link_to 'Delete Product', product_path, :method => 'delete' if @current_user.admin? %>
<%= link_to 'Add to cart' , add_to_order_path(@product.id)  %>
