<div class="prod_home">
    <div class="panel panel-default table_display">
        <div class="panel-heading">Item Details</div>
        <table class="table">
            <tr>
                <td>Order Number</td>
                <td><%= @line_item.order_id %></td>
            </tr>
            <tr>
                <td>Product</td>
                <td><%= (link_to @line_item.product.model_num , @line_item.product)%></td>
            </tr>
            <tr>
                <td>Color</td>
                <td><%= @line_item.product.color %></td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td><%= @line_item.quantity %></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><%= @line_item.product.money_in(@current_user.currency).format %></td>
            </tr>
        </table>
    </div>
    <div class="table_display order_details">
        <%= (link_to (image_tag @line_item.product.image ,:class=>'profile_image') , @line_item.product) %>
    </div>
</div>
