<h1>Item details</h1>

<p>
  Order No.: <%= @line_item.order_id %>
</p>
<p>
  <%= image_tag @line_item.product.image ,:class=>'profile_image' %>
</p>
<p>
  Product: <%= @line_item.product.model_num %>
</p>
<p>
  Color: <%= @line_item.product.color %>
</p>
<p>
  Quantity : <%= @line_item.quantity %>
</p>
