<!DOCTYPE html>
<html>
    <head>
        <title>Shyam Telecom</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <%#= cloudinary_js_config %>
    </head>
    <body class="home_page">
      <%= render :partial => 'layouts/header_form' %>
      <% if flash[:notice] %>
        <div class="alert alert-danger product_details" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="body_section">
        <%= yield %>
      </div>
      <div class=footer_section>
        <footer class="footer">
            Copyrights reserved &copy; 2016
        </footer>
      </div>
    </body>
</html>
